@using MusicWebMVC.Helpers
@using MusicWebMVC.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PagedResult<UserViewModel>
@{
}
<style>
    .badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 6px;
    }

    .badge-success {
    background-color: gold;
    color: white;
    }

    .badge-primary {
    background-color: green;
    color: white;
    }

    .badge-secondary {
    background-color: #6c757d;
    color: white;
    }

</style>
<div class="user-management">
    <h2>Manage</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Post</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Items != null && Model.Items.Any())
            {
                @foreach (var user in Model.Items)
                {
                    <tr>
                        <td>@user.Id</td>
                        @* <td>@user.Username</td> *@
                        <td>
                            @user.Username
                            @if (user.LastActivity >= DateTime.UtcNow.AddMinutes(-1) && user.IsActive == true)
                            {
                                <span class="badge badge-primary">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">Inactive</span>
                            }
                        </td>
                        <td>@user.Email</td>
                        <td>@user.PostCount</td>
                        <td>
                            @if (user.IsVIP == true)
                            {
                                <span class="badge badge-success">VIP</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">FREE</span>
                            }
                        </td>
                        <td>
                            <button class="btn delete" onclick="confirmModal(@user.Id)">Delete</button>
                            @if ((user.IsDisabled ?? false))
                            {
                                <button class="btn disable" onclick="enableUser(@user.Id)">Enable</button>
                            }
                            else
                            {
                                <button class="btn disable" onclick="disableModal(@user.Id)">Disable</button>
                            }
                            <button class="btn more">More</button>
                        </td>
                        
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No users found.</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        @if (Model?.HasPrevious == true)
        {
            <button class="page-redirect-btn" onclick="window.location.href='@Url.Action("User", "Admin", new { page = Model.CurrentPage - 1 })'">
                &laquo;
            </button>
        }

        @for (int i = 1; i <= Model?.TotalPages; i++)
        {
            <button class="page-btn @(i == Model.CurrentPage ? "active" : "")"
                    onclick="window.location.href='@Url.Action("User", "Admin", new { page = i})'">
                @i
            </button>
        }

        @if (Model?.HasNext == true)
        {
            <button class="page-redirect-btn" onclick="window.location.href='@Url.Action("User", "Admin", new { page = Model.CurrentPage + 1 })'">
                &raquo;
            </button>
        }
    </div>
</div>

<div id="confirmModal" class="confirm-modal">
    <div class="confirm-modal-content">
        <h3>CONFIRM</h3>
        <p>Are you sure you want to delete this user?</p>
        <div class="confirm-modal-buttons">
            <button class="btn no" onclick="closeConfirmModal()">No</button>
            <button class="btn yes" onclick="confirmDelete()">Yes</button>
        </div>
    </div>
</div>

<div id="disableModal" class="disable-modal" style="display: none">
    <div class="disable-modal-content">
        <div class="disable-modal-header">
            <h1>INFORMATION</h1>
            <span class="modal-close" onclick="closeDisableModal()">&#10006;</span>
        </div>

        <div class="disable-modal-body">
            <p style="font-weight: bold;">
                Status: <span style="color: red;">Disable 365 days</span>
                <span style="font-size: 22px; color: red;">&#x26A0;</span>
            </p>
            @* <form method="post" id="disableForm" asp-action="DisableUser"> *@
            @*     <input type="hidden" name="userId" id="disableUserId"/> *@
            @*     <div class="disable-modal-buttons"> *@
            @*         <button type="button" class="btn-no" onclick="closeDisableModal()">No</button> *@
            @*         <button type="submit" class="btn-yes">Yes</button> *@
            @*     </div> *@
            @* </form> *@
            <div class="disable-modal-buttons">
                <button class="btn-no" onclick="closeDisableModal()">No</button>
                <button class="btn-yes" onclick="confirmDisable()">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    let selectedConfirmUserId = null;
    let selectedDisableUserId = null;

    function toggleSidebar(event) {
        event.stopPropagation();
        document.getElementById('sidebar').classList.toggle('collapsed');
    }

    function confirmModal(userId) {
        selectedConfirmUserId = userId;
        document.getElementById("confirmModal").style.display = "flex";
    }

    function closeConfirmModal() {
        document.getElementById("confirmModal").style.display = "none";
        selectedConfirmUserId = null;
    }

    function confirmDelete() {
        if (selectedConfirmUserId !== null) {
            window.location.href = `/Admin/DeleteUser?id=${selectedConfirmUserId}`;
        }
    }

    function disableModal(userId) {
        selectedDisableUserId = userId;
        document.getElementById("disableModal").style.display = "flex";
    }

    function closeDisableModal() {
        document.getElementById("disableModal").style.display = "none";
        selectedDisableUserId = null;
    }

    function confirmDisable() {
        if (selectedDisableUserId !== null) {
            window.location.href = `/Admin/DisableUser?id=${selectedDisableUserId}`;
        }
    }

    function enableUser(userId) {
        if (userId !== null) {
            window.location.href = `/Admin/EnableUser?id=${userId}`;
        }
    }
</script>
